%head
  %title Hack and Tell Timer
  %meta{ content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type" }
  %meta{ content: "en-us", "http-equiv" => "Content-Language" }
  %meta{ content: "all", name: "ROBOTS" }
  %meta{ content: "noodp", name: "googlebot" }
  %meta{ content: "true", name: "MSSmartTagsPreventParsing" }
  %meta{ content: "Andrew Gwozdziewycz", name: "author" }
  %link{ href: "http://www.hackandtell.org/favicon.ico", rel: "shortcut icon", type: "image/x-icon" }
  %link{ href: "http://www.hackandtell.org/favicon.ico", rel: "icon", type: "image/x-icon" }
  %link{ href: "timer.css", rel: "stylesheet", type: "text/css" }
  = javascript_include_tag :application
%body
  #wrapper.ok
    #timer
  %script{ src: "jquery-1.4.2.min.js", type: "text/javascript" }
  %script{ src: "jquery.fit.js", type: "text/javascript" }
  %script{ src: "timer.js", type: "text/javascript" }
  %audio#sound{ autobuffer: "", src: "clapping.mp3" }
